.uname{
    margin-left:420px;
    margin-top:20px;
}
.username{
    margin-left:420px;
    margin-top:25px;
}
.Password{
    margin-left:420px;
    margin-top:30px;
}
.password{
    margin-left:420px;
    margin-top:35px;
}
.signature{
    margin-left:420px;
    margin-top:40px;
}